<h1 class="page-title">Class Members</h1>


<div class="row">
    <div class="col-lg-2">
        <app-card title="Classes" subtitle="Term Classes">
            <app-term-class (termClassSelected)="selectTermClass($event)" ></app-term-class>
        </app-card>

    </div>

    <div class="col-lg-4">

        <app-card title="Students" subtitle="Search Student and add to Class">

            <app-student-search (studentSelected)="selectStudent($event)"></app-student-search>
        </app-card>

    </div>

    <div class="col-lg-6">

        <app-card title="Members - {{selectedTermClass?.schoolClassName}}" subtitle="List of students in the selected class">
            <div class="card-body">
                <!-- Loading State -->
                <div class="loading" *ngIf="isLoading">
                    <p-progressSpinner styleClass="w-2rem h-2rem"></p-progressSpinner>
                    <span class="ml-2">Loading...</span>
                </div>

                <!-- Error State -->
                <div *ngIf="!isLoading && error" class="error">
                    <i class="pi pi-exclamation-triangle mr-2"></i>
                    {{ error }}
                </div>

                <!-- Table -->
                <p-table #dt *ngIf="!isLoading && !error" [value]="studentList" [paginator]="true" [rows]="10" styleClass="p-datatable-sm" [globalFilterFields]="['referenceNo','fullname']">
                    <ng-template pTemplate="caption">
                        <div class="p-input-icon-left" style="width: 100%; max-width: 320px;">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search members..." class="w-100"/>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="referenceNo">Student No <p-sortIcon field="referenceNo"></p-sortIcon></th>
                            <th pSortableColumn="fullname">Full Name <p-sortIcon field="fullname"></p-sortIcon></th>
                            <th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{ item.referenceNo }}</td>
                            <td>{{ item.fullname }}</td>
                            <td class="text-center">
                                <p-button icon="pi pi-trash" severity="danger" [text]="true" [rounded]="true"
                                          [disabled]="isLoading" pTooltip="Remove" (onClick)="removeMember(item)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3" class="text-center">No members found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </app-card>

    </div>
</div>

