<h1 class="page-title">Attendance</h1>


<div class="row">
    <div class="col-lg-2">
        <app-card title="Classes" subtitle="Term Classes">
            <app-term-class (termClassSelected)="selectTermClass($event)" ></app-term-class>
        </app-card>
    </div>

    <div class="col-lg-10">
        <app-card title="Attendance List - {{selectedTermClass?.schoolClassName}}" subtitle="Attendance History of the selected class">
            <div class="card-body">
                <!-- Loading State -->
                <div class="loading" *ngIf="isLoading">
                    <p-progressSpinner styleClass="w-2rem h-2rem"></p-progressSpinner>
                    <span class="ml-2">Loading...</span>
                </div>

                <!-- Error State -->
                <div *ngIf="!isLoading && error" class="error">
                    <i class="pi pi-exclamation-triangle mr-2"></i>
                    {{ error }}
                </div>

                <div *ngIf="formView.listView">

                    <p-table [value]="attendancesList" [paginator]="true" [rows]="10" styleClass="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Date</th>
                                <th>Name</th>
                                <th style="width: 6rem;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.valueDate | date }}</td>
                                <td>{{ item.attendanceName }}</td>
                                <td>
                                    <button pButton type="button" icon="pi pi-eye" label="View" class="p-button-text p-button-sm" (click)="selectAttendance(item)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="3" class="text-center">No attendance records found</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>

                <div *ngIf="formView.detailView">
                    <div id="selectedAttendanceInfo" *ngIf="selectedAttendance as sa">
                        <div class="mb-3">
                            <div class="h5 mb-1">{{ sa.attendanceName }}</div>
                            <div class="text-muted">
                                {{ sa.valueDate | date:'fullDate' }} • {{ sa.attendeesLabel }}
                            </div>
                        </div>
                        <div class="d-flex flex-wrap gap-3 mb-3">
                            <span><strong>Attendees:</strong> {{ sa.attendeesCount }}</span>
                            <span><strong>Present:</strong> {{ sa.presentAttendees }}</span>
                            <span><strong>Summary:</strong> {{ sa.attendanceSummary }}</span>
                        </div>
                    </div>



                    <button-toolbar>
                        <button pButton type="button" label="All"
                                class="p-button-sm"
                                [class.p-button-outlined]="currentFilter !== AttendanceFilter.ALL"
                                (click)="setFilter(AttendanceFilter.ALL)"></button>
                        <button pButton type="button" label="Present"
                                class="p-button-sm"
                                [class.p-button-outlined]="currentFilter !== AttendanceFilter.PRESENT"
                                (click)="setFilter(AttendanceFilter.PRESENT)"></button>
                        <button pButton type="button" label="Absent"
                                class="p-button-sm"
                                [class.p-button-outlined]="currentFilter !== AttendanceFilter.ABSENT"
                                (click)="setFilter(AttendanceFilter.ABSENT)"></button>

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search attendees" (input)="attendeesTable.filterGlobal($any($event.target).value, 'contains')" />
                        </span>

                    </button-toolbar>

                    <div class="mb-3 d-flex align-items-center">

                    </div>

                    <p-table #attendeesTable [value]="filteredAttendees" [paginator]="true" [rows]="10" styleClass="p-datatable-sm" [globalFilterFields]="['attendeeRefNo','attendeeName','present','clockInTime','clockOutTime']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Student No</th>
                                <th>Name</th>
                                <th>Present</th>
                                <th>Clock In</th>
                                <th>Clock Out</th>
                                <th style="width: 16rem;">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td>{{ item.attendeeRefNo }}</td>
                                <td>{{ item.attendeeName }}</td>
                                <td>
                                    <ng-container *ngIf="editingId !== (item.id ?? item.attendeeId); else editPresentTpl">
                                        <span [ngClass]="item.present ? 'text-success' : 'text-danger'">{{ item.present ? 'Yes' : 'No' }}</span>
                                    </ng-container>
                                    <ng-template #editPresentTpl>
                                        <input type="checkbox" [(ngModel)]="editModel.present" />
                                    </ng-template>
                                </td>
                                <td>
                                    <ng-container *ngIf="editingId !== (item.id ?? item.attendeeId); else editInTpl">
                                        {{ item.clockInTime | date:'shortTime' }}
                                    </ng-container>
                                    <ng-template #editInTpl>
                                        <input type="time" [(ngModel)]="editModel.clockInTime" />
                                    </ng-template>
                                </td>
                                <td>
                                    <ng-container *ngIf="editingId !== (item.id ?? item.attendeeId); else editOutTpl">
                                        {{ item.clockOutTime | date:'shortTime' }}
                                    </ng-container>
                                    <ng-template #editOutTpl>
                                        <input type="time" [(ngModel)]="editModel.clockOutTime" />
                                    </ng-template>
                                </td>
                                <td class="d-flex gap-2">
                                    <ng-container *ngIf="editingId === (item.id ?? item.attendeeId); else viewActions">
                                        <button pButton type="button" label="Save" icon="pi pi-check" class="p-button-sm p-button-success"
                                                [disabled]="savingId === (item.id ?? item.attendeeId)"
                                                (click)="saveEdit(item)"></button>
                                        <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-sm p-button-secondary"
                                                (click)="cancelEdit()"></button>
                                    </ng-container>
                                    <ng-template #viewActions>
                                        <button pButton type="button" label="Edit" icon="pi pi-pencil" class="p-button-sm"
                                                (click)="startEdit(item)"></button>
                                        <button pButton type="button" icon="pi pi-bell" class="p-button-sm p-button-warning"
                                                [disabled]="notifyingId === (item.id ?? item.attendeeId)"
                                                (click)="notify(item)"></button>
                                    </ng-template>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" class="text-center">No members found</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>


            </div>
        </app-card>
    </div>
</div>

