<h1 class="page-title">Attendance</h1>


<div class="row">
    <div class="col-lg-2">
        <app-card title="Classes" subtitle="Term Classes">
            <app-term-class (termClassSelected)="selectTermClass($event)" ></app-term-class>
        </app-card>
    </div>

    <div class="col-lg-8">
        <app-card title="Members - {{selectedTermClass?.schoolClassName}}" subtitle="List of students in the selected class">
            <div class="card-body">
                <!-- Loading State -->
                <div class="loading" *ngIf="isLoading">
                    <p-progressSpinner styleClass="w-2rem h-2rem"></p-progressSpinner>
                    <span class="ml-2">Loading...</span>
                </div>

                <!-- Error State -->
                <div *ngIf="!isLoading && error" class="error">
                    <i class="pi pi-exclamation-triangle mr-2"></i>
                    {{ error }}
                </div>

                <!-- Table -->
                <p-table *ngIf="!isLoading && !error" [value]="studentList" [paginator]="true" [rows]="10" styleClass="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Student No</th>
                            <th>Full Name</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{ item.referenceNo }}</td>
                            <td>{{ item.fullname }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3" class="text-center">No members found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </app-card>
    </div>
</div>

