<h1 class="page-title">Students</h1>


<div *ngIf="formView.listView" >
    <button-toolbar>
        <p-button
                label="New Student"
                icon="pi pi-plus"
                (onClick)="initNewStudent()"
                styleClass="p-button-primary">
        </p-button>

    </button-toolbar>

    <app-card>

        <p-table #dataTable
                 [value]="studentList" dataKey="id"
                 [loading]="loading"
                 [paginator]="true"
                 [rows]="10"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 [rowsPerPageOptions]="[10, 25, 50]"
                 [globalFilterFields]="['referenceNo', 'firstName', 'surname', 'mobileNo']"
                 styleClass="p-datatable-gridlines">

            <ng-template #caption>
                <div class="clearfix">
                    <div class="flex justify-content-end float-end">
                        <p-iconfield iconPosition="left" >
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="dataTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                        </p-iconfield>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <!--        <th>SystemId</th>-->
                    <th>Student No</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Date of Birth</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-student>
                <tr>
                    <td>{{ student.referenceNo }}</td>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.surname }}</td>
                    <td>{{ student.dateOfBirth | date}}</td>

                    <td>
                        <p-button
                                icon="pi pi-pencil"
                                (onClick)="editStudent(student)"
                                styleClass="p-button-rounded p-button-text p-button-info mr-1"
                                pTooltip="Edit">
                        </p-button>


                        <p-button
                                  icon="pi pi-bars"
                                  (onClick)="viewDetails(student)"
                                  styleClass="p-button-rounded p-button-text p-button-success mr-1"
                                  pTooltip="Details">
                        </p-button>

                        <p-button icon="pi pi-trash"
                                  (onClick)="deleteStudent(student)"
                                  styleClass="p-button-rounded p-button-text p-button-danger"
                                  pTooltip="Delete">
                        </p-button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" class="text-center">No staff found</td>
                </tr>
            </ng-template>
        </p-table>

    </app-card>


</div>

<div *ngIf="formView.createView" >
    <app-card [title]="selectedStudent ? 'Edit Student' : 'Create Student'">


        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
            <!-- Row 1: Username + Reference No -->
            <div class="row">
                <!--      <div class="col-12 col-md-6 mb-3">-->
                <!--        <div class="row">-->
                <!--          <div class="col-12 col-sm-4">-->
                <!--            <label for="username">Username *</label>-->
                <!--          </div>-->
                <!--          <div class="col-12 col-sm-8">-->
                <!--            <input pInputText id="username" formControlName="username" InputRequired class="w-full" />-->
                <!--          </div>-->
                <!--        </div>-->
                <!--      </div>-->
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="referenceNo">Student No</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="referenceNo" formControlName="referenceNo" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 2: First Name + Surname -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="firstName">First Name *</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="firstName" formControlName="firstName" appValidateInput class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="surname">Surname *</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="surname" formControlName="surname" appValidateInput class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 3: Other Names + Date of Birth -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="othernames">Other Names</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="othernames" formControlName="othernames"  class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="dateOfBirth">Date of Birth</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input id="dateOfBirth" type="date" formControlName="dateOfBirth" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 4: Gender + Email Address -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="gender">Sex</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-select id="region"
                                      [options]="sexList"
                                      optionLabel="itemName"
                                      optionValue="id"
                                      class="w-full"
                                      formControlName="gender" appValidateInput></p-select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="emailAddress">Email Address</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="emailAddress" formControlName="emailAddress" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>



            <!-- Row 5: Mobile No + Other Contact Nos -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="mobileNo">Mobile No *</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="mobileNo" formControlName="mobileNo" class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="otherContactNos">Other Contact Nos</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="otherContactNos" formControlName="otherContactNos" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 6: Region + Religion -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="region">Region</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-select id="region"
                                      [options]="regionsList"
                                      optionLabel="itemName"
                                      optionValue="id"
                                      formControlName="region"
                                      styleClass="w-full"></p-select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="religion">Religion</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-select id="religion"
                                      [options]="religionOptions"
                                      optionLabel="itemName"
                                      optionValue="id"
                                      formControlName="religion"
                                      styleClass="w-full"></p-select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 7: Home Town + (Spacer) -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="homeTown">Home Town</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="homeTown" formControlName="homeTown" class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3"></div>
            </div>

            <!-- Full-width: Postal Address -->
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="postalAddress">Postal Address</label>
                        </div>
                        <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                            <textarea id="postalAddress"  pTextarea formControlName="postalAddress" class="w-full" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Full-width: Residential Address -->
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="residentialAddress">Residential Address</label>
                        </div>
                        <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                            <textarea id="residentialAddress" pTextarea formControlName="residentialAddress" class="w-full" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 4b: Current Class Dropdown -->
            <div class="row d-none">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="currentClassId">Current Class</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-dropdown id="currentClassId"
                                        formControlName="currentClassId"
                                        [options]="termClasses"
                                        optionLabel="itemName"
                                        optionValue="id"
                                        [showClear]="true"
                                        placeholder="Select current class"
                                        class="w-full"></p-dropdown>
                            <small *ngIf="termClassesLoading" class="text-muted">Loading classes...</small>
                            <small *ngIf="!termClassesLoading && termClassesError" class="text-danger">{{ termClassesError }}</small>
                        </div>
                    </div>
                </div>
            </div>



            <button-toolbar>
                <close-button
                        type="button"
                        label="Cancel" (click)="formView.resetToListView()">
                </close-button>
                <p-button
                        type="submit"
                        [label]="selectedStudent ? 'Update Student' : 'Create Student'"
                        icon="pi pi-check"
                        (onClick)="onSubmit()"
                        [loading]="loading"
                        styleClass="p-button-primary">
                </p-button>
            </button-toolbar>

        </form>


    </app-card>
</div>



<!-- Detail View -->
<div *ngIf="formView.detailView">
  <button-toolbar>
    <div class="flex align-items-center gap-2 w-full justify-content-between">
      <p-button label="Back to List" icon="pi pi-arrow-left" styleClass="p-button-text" (onClick)="goBackToList()"></p-button>
    </div>
  </button-toolbar>

  <app-card title="Student Details">

    <div  class="flex flex-column">
      <div class="mb-2"><strong>Student No:</strong> {{ selectedStudent?.referenceNo }}</div>
      <div class="mb-2"><strong>First Name:</strong> {{ selectedStudent?.firstName }}</div>
      <div class="mb-2"><strong>Surname:</strong> {{ selectedStudent?.surname }}</div>
      <div class="mb-2"><strong>Date of Birth:</strong> {{ selectedStudent?.dateOfBirth | date }}</div>
      <div class="mb-2" *ngIf="selectedStudent?.genderLabel"><strong>Gender:</strong> {{ selectedStudent?.genderLabel }}</div>
    </div>

  </app-card>

  <app-card>
    <p-tabs value="0">
      <p-tablist>
<!--        <p-tab value="0" >Admission Information</p-tab>-->
        <p-tab value="0" >Guardians</p-tab>
      </p-tablist>
      <p-tabpanels>
<!--        <p-tabpanel value="0" class="d-none">-->

<!--          <div  class="flex flex-column">-->
<!--            <div class="mb-2"><strong>Admission Date:</strong> {{ selectedStudent?.admissionDate | date }}</div>-->
<!--            <div class="mb-2"><strong>Class:</strong> {{ selectedStudent?.classLabel }}</div>-->
<!--            <div class="mb-2"><strong>Status:</strong> {{ selectedStudent?.statusLabel }}</div>-->
<!--            <div class="mb-2"><strong>Stream:</strong> {{ selectedStudent?.streamLabel }}</div>-->
<!--            <div class="mb-2"><strong>House:</strong> {{ selectedStudent?.houseLabel }}</div>-->
<!--          </div>-->
<!--        </p-tabpanel>-->
        <p-tabpanel value="2">
          <app-student-guardian [student]="selectedStudent"></app-student-guardian>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </app-card>
</div>
