<h1 class="page-title">Staffs</h1>


<div *ngIf="formView.listView" >
    <button-toolbar>
        <p-button
                label="New Staff"
                icon="pi pi-plus"
                (onClick)="initNewStaff()"
                styleClass="p-button-primary">
        </p-button>

    </button-toolbar>

    <app-card>

        <p-table #dataTable
                [value]="staffList" dataKey="id"
                [loading]="loading"
                [paginator]="true"
                [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
                [globalFilterFields]="['referenceNo', 'firstName', 'surname', 'mobileNo']"
                styleClass="p-datatable-gridlines">

            <ng-template #caption>
                <div class="clearfix">
                    <div class="flex justify-content-end float-end">
                        <p-iconfield iconPosition="left" >
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="dataTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                        </p-iconfield>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <!--        <th>SystemId</th>-->
                    <th>Reference No</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Mobile No</th>
                    <th>Teaching</th>
                    <th>Actions</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
                <tr>
                    <!--        <td>{{ user.username }}</td>-->
                    <td>{{ user.referenceNo }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.surname }}</td>
                    <td>{{ user.mobileNo }}</td>
                    <td>
                        <i class="pi" [ngClass]="user.teachingStaff ? 'pi-check-circle text-green-500' : 'pi-times-circle text-red-500'"></i>
                    </td>
                    <td>
                        <p-button
                                icon="pi pi-pencil"
                                (onClick)="editUser(user)"
                                styleClass="p-button-rounded p-button-text p-button-info mr-1"
                                pTooltip="Edit">
                        </p-button>

                        <p-button
                                icon="pi pi-key"
                                (onClick)="openPasswordDialog(user)"
                                styleClass="p-button-rounded p-button-text p-button-warning mr-1"
                                pTooltip="Change Password">
                        </p-button>

                        <p-button *ngIf="false"
                                icon="pi pi-shield"
                                (onClick)="openPermRolesDialog(user)"
                                styleClass="p-button-rounded p-button-text p-button-help mr-1"
                                pTooltip="Permissions & Roles">
                        </p-button>

                        <p-button icon="pi pi-trash"
                                  (onClick)="deleteUser(user)"
                                  styleClass="p-button-rounded p-button-text p-button-danger"
                                  pTooltip="Delete">
                        </p-button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11" class="text-center">No staff found</td>
                </tr>
            </ng-template>
        </p-table>

    </app-card>


</div>

<div *ngIf="formView.createView" >
    <app-card [title]="selectedStaff ? 'Edit Staff' : 'Create Staff'">


        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <!-- Row 1: Username + Reference No -->
            <div class="row">
                <!--      <div class="col-12 col-md-6 mb-3">-->
                <!--        <div class="row">-->
                <!--          <div class="col-12 col-sm-4">-->
                <!--            <label for="username">Username *</label>-->
                <!--          </div>-->
                <!--          <div class="col-12 col-sm-8">-->
                <!--            <input pInputText id="username" formControlName="username" InputRequired class="w-full" />-->
                <!--          </div>-->
                <!--        </div>-->
                <!--      </div>-->
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="referenceNo">Staff No</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="referenceNo" formControlName="referenceNo" appValidateInput class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 2: First Name + Surname -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="firstName">First Name *</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="firstName" formControlName="firstName" appValidateInput class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="surname">Surname *</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="surname" formControlName="surname" appValidateInput class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 3: Other Names + Date of Birth -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="othernames">Other Names</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="othernames" formControlName="othernames"  class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="dateOfBirth">Date of Birth</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input id="dateOfBirth" type="date" formControlName="dateOfBirth" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 4: Gender + Email Address -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="gender">Sex</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-select id="region"
                                      [options]="sexList"
                                      optionLabel="itemName"
                                      optionValue="id"
                                      formControlName="gender" appValidateInput
                                      styleClass="w-full"></p-select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="emailAddress">Email Address</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="emailAddress" formControlName="emailAddress" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 5: Mobile No + Other Contact Nos -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="mobileNo">Mobile No *</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="mobileNo" formControlName="mobileNo" appValidateInput class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="otherContactNos">Other Contact Nos</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="otherContactNos" formControlName="otherContactNos" class="w-full" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 6: Region + Religion -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="region">Region</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-select id="region"
                                      [options]="regionsList"
                                      optionLabel="itemName"
                                      optionValue="id"
                                      formControlName="region"
                                      styleClass="w-full"></p-select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="religion">Religion</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <p-select id="religion"
                                      [options]="religionOptions"
                                      optionLabel="itemName"
                                      optionValue="id"
                                      formControlName="religion"
                                      styleClass="w-full"></p-select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 7: Home Town + (Spacer) -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <label for="homeTown">Home Town</label>
                        </div>
                        <div class="col-12 col-sm-8">
                            <input pInputText id="homeTown" formControlName="homeTown" class="w-full" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3"></div>
            </div>

            <!-- Full-width: Postal Address -->
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="postalAddress">Postal Address</label>
                        </div>
                        <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                            <textarea id="postalAddress"  pTextarea formControlName="postalAddress" class="w-full" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Full-width: Residential Address -->
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="residentialAddress">Residential Address</label>
                        </div>
                        <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                            <textarea id="residentialAddress" pTextarea formControlName="residentialAddress" class="w-full" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 8: Toggles (Teaching Staff + Administrator) -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-4">
                            <label for="teachingStaff">Teaching Staff</label>
                        </div>
                        <div class="col-12 col-sm-8 d-flex align-items-center">
                            <p-toggleSwitch inputId="teachingStaff" formControlName="teachingStaff"></p-toggleSwitch>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-4">
                            <label for="administrator">Administrator</label>
                        </div>
                        <div class="col-12 col-sm-8 d-flex align-items-center">
                            <p-toggleSwitch inputId="administrator" formControlName="administrator"></p-toggleSwitch>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row 9: Toggles (Class Teacher + Spacer) -->
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-4">
                            <label for="classTeacher">Class Teacher</label>
                        </div>
                        <div class="col-12 col-sm-8 d-flex align-items-center">
                            <p-toggleSwitch inputId="classTeacher" formControlName="classTeacher"></p-toggleSwitch>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3"></div>
            </div>

            <button-toolbar>
                <close-button
                        type="button"
                        label="Cancel" (click)="formView.resetToListView()">
                </close-button>
                <p-button
                        type="submit"
                        [label]="selectedStaff ? 'Update Staff' : 'Create Staff'"
                        icon="pi pi-check"
                        (onClick)="onSubmit()"
                        [loading]="loading"
                        styleClass="p-button-primary">
                </p-button>
            </button-toolbar>

        </form>




    </app-card>
</div>



<!-- Password Update Dialog -->
<p-dialog
  [(visible)]="showPasswordDialog"
  header="Change Password"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
  [style]="{width: '30vw'}"
  [breakpoints]="{'960px': '50vw', '640px': '95vw'}"
  (onHide)="closePasswordDialog()">

  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <div class="row mb-3">
      <div class="col-4">
        <label for="newPassword">New Password *</label>
      </div>
      <div class="col-8">
        <input
          pInputText
          type="password"
          id="newPassword"
          formControlName="newPassword"
          class="w-full" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-4">
        <label for="confirmPassword">Confirm Password *</label>
      </div>
      <div class="col-8">
        <input
          pInputText
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="w-full" />
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      type="button"
      label="Cancel"
      icon="pi pi-times"
      (onClick)="closePasswordDialog()"
      styleClass="p-button-text">
    </p-button>
    <p-button
      type="button"
      label="Update Password"
      icon="pi pi-check"
      (onClick)="updatePassword()"
      [loading]="passwordLoading"
      styleClass="p-button-primary">
    </p-button>
  </ng-template>
</p-dialog>



<!-- Permissions & Roles Dialog -->
<p-dialog
  [(visible)]="showPermRolesDialog"
  header="Permission and Roles"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  styleClass="p-fluid"
  [style]="{width: '60vw'}"
  [breakpoints]="{'960px': '60vw', '640px': '95vw'}"
  (onHide)="closePermRolesDialog()">

  <div class="mb-3">
    <p><strong>User:</strong> {{ permRolesUser?.accountName || permRolesUser?.emailAddress }}</p>
    <p>Configure this user's permissions and roles.</p>
  </div>

  <div class="permissions-table">
    <p-table [value]="permissionsData" styleClass="p-datatable-sm p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Page</th>
          <th>Enabled</th>
          <th class="d-none">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-page>
        <tr>
          <td>{{ page.pageName }}</td>
<!--          <td>{{ page.pageUrl }}</td>-->
          <td >
            <p-toggleSwitch [(ngModel)]="page.enabled"></p-toggleSwitch>
          </td>
          <td class="d-none">
            <div class="flex align-items-center gap-3 flex-wrap">
              <div *ngFor="let act of page.actions" class="flex align-items-center gap-2 mr-3">
                <span class="text-sm">{{ act.name }}</span>
                <p-toggleSwitch [(ngModel)]="act.enabled"></p-toggleSwitch>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      type="button"
      label="Close"
      icon="pi pi-times"
      (onClick)="closePermRolesDialog()"
      styleClass="p-button-text">
    </p-button>
    <p-button
      type="button"
      label="Save"
      icon="pi pi-save"
      (onClick)="savePermissions()"
      [loading]="permSaveLoading"
      [disabled]="permLoading || !permissionsData?.length"
      styleClass="p-button-primary">
    </p-button>
  </ng-template>
</p-dialog>
